body {
  background-color: rgb(31, 29, 29);
  margin: 0;
  padding: 0%;
  height:100%;
  color: whitesmoke;
}

/*------------------------------------------*/
/*Estilo del header*/
.menu-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 60px;
  color: white;
  font-size: 20px;
}

a{
  color: red;
  text-decoration: inherit;
}

/*------------------------------------------*/
/*Layout de la pagina*/
.layout-container{
  display: grid;
  grid-template-columns: minmax(250px,250px) minmax(400px,700px) minmax(200px,200px) ;
  grid-template-rows:auto;
  column-gap: 5px;
  height: 70%;
}




/*------------------------------------------*/
/*Estilo de la view Agregar materias alumno*/
.contanainer-agregar-materia{
  border:2px solid blue;
}

.contanainer-agregar-materia h2{
  text-align: center;
}

.agregar-materia-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: bisque;
  text-align: center;
}

.agregar-materia-inputs div {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.agregar-materia-inputs input{
  width: 80px;
  height: 20px;
}

/*------------------------------------------*/
/*Estilo de la view Agregar materias alumno*/
.contanainer-eliminar-materia{
  border:2px solid blue;
}

.contanainer-eliminar-materia h2{
  text-align: center;
}

.eliminar-materia-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: bisque;
  text-align: center;
  
}

.eliminar-materia-inputs div {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eliminar-materia-inputs input{
  width: 80px;
  height: 20px;
}

/*------------------------------------------*/
/*Estilo de la view mostrar materias alumno*/

.contanainer-mostrar-materia{
  display: grid;
  grid-template-columns:  minmax(150px,300px) minmax(150px,300px);
  grid-template-rows:auto;
  color: bisque;
}

.contanainer-mostrar-materia > *{
  text-align: center;
  border: 2px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*------------------------------------------*/
/*Estilo del footer
.footer-container{
  position:absolute;
  bottom:0;
  width: 100%;
}*/