body {
  background-color: rgb(31, 29, 29);
  margin: 0;
  padding: 0%;
  height:100%;
  color: whitesmoke;
}

/*------------------------------------------*/
/*Estilo del header*/
.menu-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #269fac;
  height: 60px;
  color: white;
  font-size: 20px;
}

a{
  color: red;
  text-decoration: inherit;
}

/*------------------------------------------*/
/*Estilo Layout de la pagina*/
.layout-container{
  display: grid;
  grid-template-columns: minmax(250px,280px) minmax(500px,900px) minmax(200px,280px) ;
  grid-template-rows:auto;
  column-gap: 20px;
  min-height: 80vh;
}
/*------------------------------------------*/
/*Estilo del menu izquierdo */
.layout-left-menu{
  background-color:#bd7373;
}


/*------------------------------------------*/
/*Estilo del menu derecho */
.layout-right-menu{
  background-color:#bd7373;
  text-align:center;
  padding:30px;
}



/*------------------------------------------*/
/*Estilo de la view Agregar materias alumno*/
.contanainer-agregar-materia{
  margin-bottom:20px;
}

.contanainer-agregar-materia h2{
  text-align: center;
}

.agregar-materia-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.agregar-materia-inputs div {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.agregar-materia-inputs input{
  width: 80px;
  height: 20px;
}

/*------------------------------------------*/
/*Estilo de la view Eliminar materias alumno*/
.contanainer-eliminar-materia{
 
}

.contanainer-eliminar-materia h2{
  text-align: center;
}

.eliminar-materia-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  
}

.eliminar-materia-inputs div {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eliminar-materia-inputs input{
  width: 80px;
  height: 20px;
}

/*------------------------------------------*/
/*Estilo de la view mostrar materias alumno*/

.contanainer-mostrar-materia{
  display: grid;
  grid-template-columns: minmax(150px,200px) minmax(150px,300px) minmax(150px,300px);
  grid-template-rows:auto;
  margin-bottom:40px
}

.contanainer-mostrar-materia > *{
  text-align: center;
  border-bottom: 1px solid blue;
  font-size:20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*------------------------------------------*/
/*Estilo de la view login y registro*/
.layout-login-container{
 min-height: 80vh;
text-align:center;
}

.layout-login-container > *{
 border:2px solid blue;
  margin:10px 150px;
  padding:20px 0px;
}


/*------------------------------------------*/
/*Estilo del footer
.footer-container{
  position:absolute;
  bottom:0;
  width: 100%;
}*/
