body {
  background-color: rgb(31, 29, 29);
  margin: 0;
  padding: 0%;
  height:100%;
  color: whitesmoke;
}

/*------------------------------------------*/
/*Estilo del header*/
.menu-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #04AA6D;
  height: 60px;
  color: white;
  font-size: 25px;
  font-family:sans-serif;
}

a{
  color:black;
  text-decoration: inherit;
}

a:hover{
 color:red;
}


/*------------------------------------------*/
/*Estilo Layout de la pagina*/
.layout-container{
  display: grid;
  grid-template-columns: minmax(250px,300px) minmax(500px,1600px) ;
  grid-template-rows:auto;
  column-gap: 20px;
  min-height: 80vh;
}
/*------------------------------------------*/
/*Estilo del menu izquierdo */
.layout-left-menu{
  background-color:#022317;
  font-size:22px;
}

.layout-left-menu a{
  font-size:32px;
  color:white;
}

.layout-left-menu a:hover{
  background-color:#066442;
  font-size:32px;
  color:red;
}

.link-menu{
  padding-bottom:30px;
}

.link-menu:hover{
  padding-bottom:30px;
  background-color:#066442;
}


/*------------------------------------------*/
/*Estilo del menu derecho */
.layout-right-menu{
  background-color:#022317;
  text-align:center;
  font-size:22px;
}



/*------------------------------------------*/
/*------------------------------------------*/
/*Estilo de la view Agregar materias alumno*/
.contanainer-agregar-materia{

}

.contanainer-agregar-materia h2{
  text-align: center;
  margin:18px 0px;
}

.agregar-materia-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-bottom:20px;
  border-bottom:2px solid #04AA6D;
}

.agregar-materia-inputs div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agregar-materia-inputs-nota input{
  font-size:18px;
  text-align:center;
  width: 80px;
  height: 30px;
}

.agregar-materia-inputs-select select{
  font-size:18px;
  width: 200px;
  height: 30px;
}
.agregar-materia-inputs-submit input{
  width: 80px;
  height: 30px;
  font-size:18px;
}

/*------------------------------------------*/
/*Estilo de la view Eliminar materias alumno*/
.contanainer-eliminar-materia{
  margin-bottom:12px;
}

.contanainer-eliminar-materia h2{
  text-align: center;
  margin:18px 0px;
}

.eliminar-materia-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-bottom:20px;
  border-bottom:2px solid #04AA6D;
}

.eliminar-materia-inputs div {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eliminar-materia-inputs input{
  width: 80px;
  height: 30px;
  font-size:18px;
}

.eliminar-materia-inputs select{
  font-size:18px;
  width: 200px;
  height: 30px;
}

/*------------------------------------------*/
/*Estilo de la view filtro materias alumno*/
.contanainer-filtro-materia h2{
  text-align: center;
  margin:5px 0px;
  padding-bottom:2px;
}

.filtro-materia-inputs{

}
.filtro-materia-inputs > *{
  font-size:25px;
  margin:0px;
  padding:0px;
}

.filtro-materia-inputs-nota-menor input{
    width: 80px;
    height: 30px;
    font-size:18px;
  margin-bottom:6px;
}
.filtro-materia-inputs-nota-mayor input{
    width: 80px;
    height: 30px;
    font-size:18px;
}



/*------------------------------------------*/
/*Estilo de la view mostrar materias alumno*/

.contanainer-mostrar-materia{
  display: grid;
  grid-template-columns: minmax(150px,300px) minmax(150px,300px) minmax(150px,300px);
  grid-template-rows:auto;
  margin-bottom:40px
}

.contanainer-mostrar-materia > *{
  text-align: center;
  border-bottom: 1px solid blue;
  font-size:20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*------------------------------------------*/
/*Estilo de la view promedio materias alumno*/

.contanainer-mostrar-materia-promedio{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px   100px;
}

.contanainer-mostrar-materia-promedio > *{
  text-align: center;
  font-size:40px;
  padding-top: 15px;
  padding-bottom: 15px;
}


/*------------------------------------------*/
/*Estilo de la view login y registro*/
.layout-login-container{
  display:grid;
  grid-template-rows: 80vh;
  grid-template-columns:500px 500px;
  gap:30px;
justify-content:space-evenly;
  font-size:20px;
  text-align:center;
}

.layout-login-container > *{
 border-left:10px solid #04AA6D;
 border-right:10px solid #04AA6D;
  padding:20px 20px;
}

.layout-login-container input{
  width:250px;
  height:40px;
  border-radius:10px;
  margin-bottom:20px;
  font-size:25px
}
.layout-login-container input::placeholder{
  font-size:25px;
  text-align:center;
}


/*------------------------------------------*/
/*Estilo del footer
.footer-container{
  position:absolute;
  bottom:0;
  width: 100%;
}*/
